.medication-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1150px;
  margin: auto;
  border-radius: 12px;
  justify-content: center;
  padding: 20px;
}
@media screen and (min-width: 1024px) {
  .medication-section {
    flex-direction: row;
  }
}

@media screen and (min-width: 1204px) {
  .medication-section {
    padding: 0px;
  }
}

.medication-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.medication-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.medication-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 16px;
  padding: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.medication-label:hover {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.day-schedule {
  display: flex;
  align-items: center;
  gap: 10px;
}

.day {
  background-color: #e5e8f8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: blue;
  font-weight: bold;
}
.medication-time {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid gainsboro;
  padding: 4px;
  border-radius: 10px;
}
.upload-box {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.upload-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}

.upload-description {
  font-size: 13px;
  color: #555;
  margin-bottom: 10px;
}

.hidden-file-input {
  display: none;
}

.take-photo-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid gainsboro;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 150px;
}

.preview-image {
  margin-top: 10px;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.mark-taken-btn {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.calendar-box {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: fit-content;
  width: 70%;
}
@media screen and (max-width: 575px) {
  .calendar-box {
    width: 100%;
  }
}

.calender-label {
  margin-right: auto;
  font-size: 20px;
}
.schedule-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.schedule {
  display: flex;
  align-items: center;
  gap: 5px;
}
.schedule p {
  font-size: 13px;
}
.mark-symbol {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  line-height: 15px;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}

.medication-success-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  gap: 1rem;
  background-color: #e6f9ec;
  border: 2px solid #a8e6b8;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  margin: 1rem auto;
}

.success-icon {
  width: 70px !important;
  height: 70px !important;
  background-color: #34a853;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}
.success-icon-medicine {
  width: 40px;
  height: 40px;
  background-color: #34a853;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}
.success-content {
  line-height: 1.7;
}

.success-content h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #276738;
}

.success-content p {
  margin: 4px 0 0;
  color: #3a614f;
  font-size: 0.95rem;
}

.medication-success-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f9ec;
  color: #2f5f38;
  padding: 16px;
  border-radius: 10px;
  margin: 1rem 0;
}

.day-success-schedule {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.success-icon {
  width: 36px;
  height: 36px;
  background-color: #34a853;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.medication-success-date {
  margin: 0;
  font-weight: 600;
  color: #205c39;
}

.medication-success-time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #1d4f2c;
  font-weight: 500;
}